
.containerForm{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50vh;
    max-width: 600px;
    min-width: 200px;
    margin: 25px;
    
    

    box-shadow: 0 0 0 2px rgba(218,102,123,1), 8px 8px 0 0 rgba(218,102,123,1);
}
.form div{
    margin: 10px;
}
.form button{
    width: 50%;
    margin-bottom: 20px;
}

.botaoNav{
    width: 50%;
    min-width: 175px;
    display: flex;
    justify-content: space-between;
}